# Dependencies
node_modules

# Build
dist
dist-ssr
*.local

# Env (секреты не коммитим)
.env
.env.local
.env.*.local

# Editor
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Optional
coverage
.cache
